@use '../setup/variables';

.app-header-container {
    background: #124f77;
    color: variables.$primaryTxt;
    height: 6vh;
    display: flex;
    h1 {
        margin: auto;
        font-family: ui-monospace;
    }
}