.entity-list-container {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    td {
        text-align: center;
    }
    .p-column-title {
        margin: auto;
        text-decoration: underline;
    }
}

