.event-table-container {
    width: 84%;
    height: 100%; 
    background: #1f2937;
    .p-datatable {
        border: 1px solid #575757;
    }
    .p-datatable-wrapper {
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #7d7d7d #1f2937;
    }
    .p-column-title {
        margin: auto;
    }
    td {
        width: fit-content;
    }
    th, td {
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    th, tr {
        &:hover {
            background-color: #2c3542;
            transition: all 0.2s;
        }
    }
    .p-selectbutton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #5b6472;
        border-radius: 5px;
        width: 92%;
        margin: auto;
        .p-button {
            border: none;
            border-radius: 0;
            transition: none;
            opacity: 0.5;
            width: 40%;
            &.p-highlight {
                opacity: 1;
                border: none;
                background-color: #5b6472;
            }
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }
    button {
        width: 10px;
        height: 30px;
        border-radius: 0;
        padding: 15px;
    }
}