.farm-list-container {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #7d7d7d #1f2937;
  border: 1px solid #575757;
  .farm-list-header {
    background-color: #1f2937;
    padding: 9px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #5b6472;
    span {
      font-size: 16px;
      font-weight: bold;
    }
  }
  ul {
    padding: 0;
  }
  li {
    box-shadow: inset 0 0 10px 5px black;
    .farm-item-template {
      display: flex;
      flex-direction: column;
      gap: 12px;
      header {
        font-size: 18px;
      }
      aside {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .p-avatar {
          box-shadow: 0 0 3px 3px black;
        }
      }
      footer {
        display: flex;
        justify-content: center;
        gap: 14px;
      }
    }
  }
}
