.farm-map-container {
    width: 34%;
    height: 70%;
    box-shadow: 0px 5px 5px 5px black;
    .gm-style-iw-chr {
        height: 35px;
        button {
            span {
                background: #1f2937;
            }
        }
    }
}