.home-container {
    height: 90vh;
    display: flex;
    gap: 25px;
    margin: 10px;
    main {
        display: flex;
        gap: 10px;
        width: 65%;
    }
    .map-dashboard-conatiner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.p-toast-message-content {
    line-height: 2;
}